<div class="pb-5 px-5">
  <div class="row img-max text-shadow">
    <div class="col-12">
      <h1 class="indie-flower-text">El aroma mágico</h1>
    </div>
    <div class="col-12">
      <img src="/assets/image_1.png" alt="imagen header" />
      <hr class="hr" />
    </div>
  </div>
  <div class="row text-shadow py-2">
    <div class="col-5">
      <table class="table table-hover table-text">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col-2">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col-2">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cafe of cafes">
            <td>
              <strong>{{ cafe.id }}</strong>
            </td>
            <td>{{ cafe.nombre }}</td>
            <td>{{ cafe.tipo }}</td>
            <td>{{ cafe.region }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row fixed-bottom pb-5">
    <div class="col-12 position-relative">
      <p class="position-absolute top-100 start-50 translate-middle fw-light">
        Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico
      </p>
    </div>
  </div>
</div>
